<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="webTemplate.Model.Properties.Settings.webTemplate5ConnectionString"
            connectionString="Data Source=SATURN\MSSQL;Initial Catalog=webTemplate5;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>